<div class="displayTable">
  <div class="displayTableCell">
  <div class="authBlock">
  <!-- <h3>Thank You for Your Mesage</h3> -->
  <div class="formGroup">
  <p class="succes-message">We have received your message, thank you!</p>
  </div>
  <!-- Calling SendVerificationMail() method using authService Api -->
  <!-- <div class="formGroup">
  <button type="button" class="btn btnPrimary" (click)="authService.ContactSucces()">
  <i class="fas fa-redo-alt"></i>
  Resend Verification Email
  </button>
  </div>
  </div>
  <div class="redirectToLogin">
  <span>Go back to?<span class="redirect" routerLink="/sign-in"> Sign in</span></span>
  </div>
  </div>
  </div> -->
