.done {
  text-decoration: line-through;
}

h4 {
  margin-left: 0 !important;
  font-size: 2rem;
  font-weight: 500;
}

.modal-header{
  padding: 1rem 2rem;
  border-bottom: 0px solid #dee2e6;
}

.table th, .table td {
  border-top: 0px solid #dee2e6;
}

.btn-tools{
  margin-left: 0px;
}

.cell-size {
  width: 75px;
}

.table-size{
  margin: 30px;
}
