h4 {
  margin-left: 0 !important;
  font-size: 2rem;
  font-weight: 500;
}

.modal-header{
  padding: 1rem 2rem;
  border-bottom: 0px solid #dee2e6;
}

.modal-footer{
  border-top: 0px solid #dee2e6;
  padding: 0px 35px 35px 0;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding-top: 1rem;
  padding-right: 35px;
  padding-bottom: 1rem;
  padding-left: 35px;
}
