<div class="modal-header">
    <h4 class="modal-title">Sign In</h4>
</div>

<div class="modal-body">
  <div class="form-group">
      <label for="title">E-mail*</label>
      <input type="text" class="form-control" placeholder="E-mail" #userEmail required>
  </div>
  <div class="form-group">
      <label for="title">Password*</label>
      <input type="password" class="form-control" placeholder="Password" #userPassword required>
  </div>
  <!-- Calling SignIn Api from AuthService -->
  <div class="form-group">
      <input type="button" class="btn btn-primary" value="Log in" (click)="authService.SignIn(userEmail.value, userPassword.value)">
  </div>
  <!-- Calling GoogleAuth Api from AuthService -->
  <div class="form-group">
      <button type="button" class="btn btn-primary google-btn" (click)="authService.GoogleAuth()">Log in with Google<i class="fab fa-google-plus-g"></i>
      </button>
  </div>
  <div class="forgot-password btn-pointer">
     <span routerLink="/forgot-password">Forgot Password?</span>
  </div>
  <div class="redirectToLogin btn-pointer">
      <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
  </div>
</div>

